.ChatRoomList {
    position: fixed;
    width: 290px;
    height: 100%;
    margin: 0;
    padding: 30px 0;
    color: white;
    background-color: #FF1940;
    text-align: left;
    box-sizing: border-box;
    top: 0;
}

@media (max-width: 480px) {
    .ChatRoomList {
        width: 100%;
        padding: 8px 0;
        height: 170px;
        overflow: hidden;
        overflow-y: scroll;
        z-index: 50;
    }
}